


.selections-form__radios-radio--acitve .container ,
.titling__suptext,
.km-titling__suptext , .km-header-top__links-link:hover,
.menu-list__item--inner:hover .menu-list__text,.menu-list__link:hover,
.menu-sublist__link:hover, 
.km-call__box-link:hover , 
.km-plans-card__text ,.km-articles-card__link,
.carbox-card-bottom__price-current,
.review__link_btn,.articles-card__title:hover,
.footer__working-text,
.btn-single-link{
    color:#1e87f0
}



.selection-form__inner .btn ,
.km-drivers-card-poster .km-socials__list-link ,
.km-btn,
html .km-header .dl-menuwrapper button,
html .km-header .dl-menuwrapper button:hover,
html .km-header.dl-menuwrapper button.dl-active,
html .km-header .dl-menuwrapper ul , .call__icon ,
html .km-header .dl-menuwrapper button,
html .km-header .dl-menuwrapper button:hover,
html .km-header.dl-menuwrapper button.dl-active,
html .km-header .dl-menuwrapper ul ,
.km-header-content__inner::before,
.km-call__icon ,
.car-card__link span:nth-child(2),
.km-markets-link:hover ,
.km-articles-card:hover .km-articles-card__link span:nth-child(2),
.car-card__link:hover,
.car-card-poster__price::before,
.km-rcslide-swiper .swiper-pagination-bullet:hover,
.km-rcslide-swiper .swiper-pagination-bullet-active ,
.km-footer__title span::before,
.km-footer__title span::after,
.km-contacts__item-active  , 
.km-contacts-item__icon ,
.navigaion--quick .navigaion__list-link:hover span:nth-child(1),
.km-contact-form__arrow ,

.km-heading .km-titling__link:nth-child(2) span:nth-child(2) ,
.selections-form__radios .container .checkmark:after,
html .swiper-pagination-bullet-active,
.btn
{
       background:#1e87f0;
}

.hero-swiper .swiper-pagination-bullet-active
{
       background-color:#1e87f0 !important;
}



.km-btn:hover , .btn:hover {
    border-color:#1e87f0;
    color:#1e87f0
}



.swiper-button-next:hover, .swiper-button-prev:hover {
    background:#1e87f0;
    border-color:#1e87f0;
}
.km-offer-item__arrow svg path {
    fill:#1e87f0
}

.km-rcslide-slide-top__img {
    border-color:#1e87f0;
}


@media(max-width: 1100px) {
    .km-contacts-item:hover .km-contacts-item__icon {
        background:#1e87f0;
    }
    
    .km-contacts-item:hover .km-contacts-item__box-subtext {
        color:#1e87f0;
    }
}


@media(max-width: 1100px) {
    .km-contacts-item:hover .km-contacts-item__icon {
        background:#1e87f0
    }
    .km-contacts-item:hover .km-contacts-item__box-subtext {
        color:#1e87f0
    }
}


.carbox-card-info-box__icon  path,
.box-ico-1_img svg path, .box-ico-1_img img , 
.articles-card-info__box svg path,
.footer-articles-item__box svg path{
    fill:#1e87f0;

}


.selection-form__range .noUi-connect{
    background:#1e87f0 !important;
}

.selection-form__range .noUi-handle{
    border-color:#1e87f0;
}


.btn:hover, .selection-form__inner .btn:hover {
    border-color:#1e87f0;
    color:#1e87f0;
}


.btn:hover svg path, .selection-form__inner .btn:hover svg path{
    stroke:#1e87f0;
}


.btn-single-link  svg path{
    stroke:#1e87f0;
}


.titling--white .titling__suptext{
    color:#1e87f0; 
}