

.heading .titling__title,
.heading__titling .titling__title,
.logo_text_line .tm_header_logo_title,
html .section-hero__title .uk-h1 , .titling__title ,
.logo_text_line .tm_header_logo_title , .titling__title ,
html .section-hero__title .uk-h1,
.brands_titling__title ,
.about-content__info__title ,
.section-box-calculator h4 ,
.heading__titling  .titling__titles,
.slider-content h4,
.info-fx,
.catalog-content__title_
{
	 font-family:'Roboto Flex' ;
    font-weight: 600;
}


.about-item__desc,
.article-nav__title .uk-h5,
.article-nav__title span,
.article__intro,
.article__share b,
.article__tags b,
.article__tags ul li a,
.article__title a,
.block-icon-info__title,
.block-icon__title,
.btn-ft-clear,
.categories-item__link,
.checkbox-custome span,
.contact-info-item__title,
.contact-info-item__value,
.contact-info-item__value a,
.contact-info-title,
.filter-more__desc span,
.info-list-item__title,
.info-list-item__value,
.latest-luxcar__info,
.latest-luxcar__price,
.latest-luxcar__title,
.latest-luxcar__title a,
.latest-news-item__date,
.latest-news-item__title,
.list-decor>li>a,
.list-info-item__title,
.list-info-item__value,
.logo__text,
.news-card__author,
.news-card__date,
.news-card__more a,
.news-card__title a,
.page-footer__top .uk-h4,
.page-product-head .uk-breadcrumb>*>*,
.page-product__btns button,
.page-product__price,
.page-product__price .current,
.page-product__price .old,
.page-product__title .uk-h1,
.page-product__title span,
.product-block-info .block-icon__title,
.product-block-info .block-icon__value a,
.product-block-info .user__date,
.product-block-info .user__name,
.product-card__badge,
.product-card__btns>ul>li>a span,
.product-card__price,
.product-card__title a,
.product-card__title span,
.product-item__category a,
.product-item__manufacturer,
.product-list-info-item__title,
.product-specifications-item__title,
.product-specifications-item__value,
.range-box__desc,
.range-box__desc input,
.rental-item__price .label,
.rental-item__price .price,
.rental-item__text,
.rental-item__title,
.review-item__desc,
.review-item__user-name,
.review-item__user-position,
.section-article-reviews .uk-comment .link-more,
.section-article-reviews .uk-comment .uk-comment-body,
.section-article-reviews .uk-comment .uk-comment-title,
.section-article-reviews .uk-comment .uk-text-meta,
.section-article-reviews .uk-h2,
.section-gallery-slider .gallery-slider-nav .slick-slide .uk-h4,
.section-gallery-slider .gallery-slider-nav .slick-slide span,
.section-hero__breadcrumb .uk-breadcrumb>*>*,
.section-hero__form .uk-select,
.section-hero__text,
.section-hero__title .uk-h1,
.section-hero__title span,
.section-info.section-info--2 blockquote,
.section-info.section-info--2 blockquote h1,
.section-info.section-info--2 blockquote h2,
.section-info.section-info--2 blockquote h3,
.section-info.section-info--2 blockquote h4,
.section-info.section-info--2 blockquote h5,
.section-info.section-info--2 blockquote h6,
.section-info__content .block-icon__title,
.section-products.section-products--2 .uk-subnav li a,
.section-rental.section-rental--2::before,
.section-title span,
.slider-nav__count,
.slideshow-item__decor,
.slideshow-item__desc,
.slideshow-item__title .uk-h2,
.slideshow-item__title span,
.specifications-list-item__value,
.tags-cloud li a,
.titling__suptext,
.uk-button,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
.uk-input,
.uk-input:-ms-input-placeholder,
.uk-input::-moz-placeholder,
.uk-input::-ms-input-placeholder,
.uk-input::-webkit-input-placeholder,
.uk-input::placeholder,
.uk-pagination>*>*,
.uk-select,
.uk-select:-ms-input-placeholder,
.uk-select::-moz-placeholder,
.uk-select::-ms-input-placeholder,
.uk-select::-webkit-input-placeholder,
.uk-select::placeholder,
.uk-slideshow .slideshow-nav__count,
.uk-textarea,
.uk-textarea:-ms-input-placeholder,
.uk-textarea::-moz-placeholder,
.uk-textarea::-ms-input-placeholder,
.uk-textarea::-webkit-input-placeholder,
.uk-textarea::placeholder,
.video-box .btn-play span,
.video-info__title,
.widjet--recent-posts .latest-news-item__date,
.widjet--recent-posts .latest-news-item__title,
.widjet__title .uk-h4,
.widjet__title span,
blockquote,
blockquote span,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html {
	 font-family:'Roboto Flex' ;
}



.uk-button {
	font: normal 500 18px/3.06 'Roboto Flex';
}


html,
body {
    font-family:'Roboto Flex' ;
    font-weight: 300;
}


.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Roboto Flex' ;
	font-weight: 500;
}




.titling__suptext {
    font-family: "Roboto Flex";
}




